@model IEnumerable<Archery.Models.Tournament>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //this.Output.WriteLine("<h1>test</h1>");
    
}

<h1>Tournois:</h1>
<div class="container">
    @foreach (var item in Model)
    {
    <div class="panel col-sm-3">
        <div class="panel-body" style="background-color:lightslategray; color:white; min-height:600px;">
            @if (item.Pictures.Count > 0)
            {
                <img src="data:@item.Pictures.First().ContentType;base64,@Convert.ToBase64String(item.Pictures.First().Content)" class="img-thumbnail" />
            }

            <h4 class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </h4>
            <br />
            @Html.DisplayNameFor(model => model.Location) : @Html.DisplayFor(modelItem => item.Location)
            <br />
            @Html.DisplayNameFor(model => model.StartDate) : @Html.DisplayFor(modelItem => item.StartDate)
            <br />
            @Html.DisplayNameFor(model => model.EndDate) : @Html.DisplayFor(modelItem => item.EndDate)
            <br />
            @Html.DisplayNameFor(model => model.Description) : @Html.Raw(item.Description)
            <br />
            @Html.DisplayNameFor(model => model.Weapons) :
            @if (item.Weapons != null)
            {
                <ul>
                    @foreach (var weapon in item.Weapons)
                    {
                        <li>@weapon.Name</li>
                    }
                </ul>
            }
            <br />
            <br />
            @Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(modelItem => item.Price)
            <br />
            <br />
            <a style="" href="@Url.Action("Details", new { id=item.ID ,nom=item.Name})" class="btn btn-info"> <i class="glyphicon glyphicon-info-sign"> Details</i> </a>
            <a style="" href="@Url.Action("Shooter","Archers", new { id=item.ID ,nom=item.Name})" class="btn btn-info"> <i class="glyphicon glyphicon-apple"> S'incrire</i> </a>
        </div>
        
    </div>
    }
</div>

