@{
    var admin = Session["ADMINISTRATOR"] as Archery.Models.Administrator;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Backoffice</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" /><!--DATEPICKER-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Backoffice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arcs<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index","weapons")">Lister</a></li>
                            <li><a href="@Url.Action("create","weapons")">Ajouter</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compétitions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index","tournaments")">Lister</a></li>
                            <li><a href="@Url.Action("create","tournaments")">Ajouter</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="color: azure; padding-top:10px;">
                    Bonjour, @admin.FirstName @admin.LastName
                    <a id="logout" href="@Url.Action("Logout","authentication")" class="btn btn-info"> <i class="glyphicon glyphicon-log-out"></i> </a>
                </ul>
            </div>           
        </div>
    </div>

    <div class="container body-content" style="padding:50px;">
        
        @Html.Partial("_PartialDisplay")
        @RenderBody()
        <hr />
        <footer class="fixed-bottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--<script src="~/Scripts/jquery.validate.globalize.min.js"></script>-->
    <!--<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>-->
    @RenderSection("SectionScripts", false)
    <script>//script jquery de confirmation pour déconnecter.
        /*Version Jquery
        $("#logout").click(function () {
            if (confirm("Voulez-vous vous déconnecter?") == false) {
                return false;
            }
        });*/
        /*version JS pure - */
         const btn = document.querySelector('#logout');
         btn.addEventListener('click', ev => {
            if (confirm("Voulez-vous vous déconnecter?")==false){
                ev.preventDefault();
            }
        });
         
    </script>
</body>
</html>
